<div class="metrics rm-subjects">
    {% include '@RemessageClient/Collector/metrics/application.html.twig' with {application: application} only %}
    {% include '@RemessageClient/Collector/metrics/user.html.twig' with {user: user} only %}
</div>
