<div class="metrics rm-subjects">
    {% include '@RmClient/Collector/metrics/application.html.twig' with {application: application} only %}
    {% include '@RmClient/Collector/metrics/user.html.twig' with {user: user} only %}
</div>
